body {
    background-color: silver;
    box-sizing: border-box;
}

.empty {
    background-color: black;
}

.wall {
    background-color: blue;
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.door {
    background-color: gray;
}

.food {
    background-color: black;
    background-image: url('food.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.bigfood {
    background-color: black;
    background-image: url('bigfood.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.pacman {
    background-color: black;
    background-image: url('pacman.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.ghost1 {
    background-color: black;
    background-image: url('ghost1.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.ghost2 {
    background-color: black;
    background-image: url('ghost2.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.ghost3 {
    background-color: black;
    background-image: url('ghost3.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.ghost4 {
    background-color: black;
    background-image: url('ghost4.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.ghost5 {
    background-color: black;
    background-image: url('ghost5.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.right {
    transform: rotate(90deg);
}

.up {
    transform: rotate(0deg);
}

.left {
    transform: rotate(-90deg);
}

.down {
    transform: rotate(180deg);
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

td {
    width: 30px;
    height: 30px;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes slide-in-top {
    0% {
      transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
  

 @keyframes puff-in-center {
    0% {
      transform: scale(2);
      filter: blur(4px);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      filter: blur(0px);
      opacity: 1;
    }
  }
  