body {
    background-color: silver;
}

.container {
    background-color: rgb(102, 102, 102);
    color: white;
    padding: 0;
}

header {
    background-color: black;
    text-align: center;
    padding: 20px;
}

main {
    padding: 15px;
}

footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    font-size: 80%;
}