<!DOCTYPE html>
<html lang="en" ng-app="weatherApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/bootstrap.min.js" defer></script>
    <script src="js/angular.min.js" defer></script>
    <script src="js/moment.js" defer></script>
    <script src="js/app.js" defer></script>

    <title>Weatehr app</title>
</head>
<body>
    <div class="container" ng-controller="mainCtrl">
        <header>
            <h3><strong>{{title}}</strong></h3>
        </header>
        <main>
            <form>
                <div class="mb-3">
                  <label for="nap" class="form-label">Dátum</label>
                  <input type="date" class="form-control" id="nap" min="{{mindate}}">
                </div>
                <div class="mb-3">
                  <label for="minho" class="form-label">Min. hőmérséklet</label>
                  <input type="number" class="form-control" id="minho">
                </div>
                <div class="mb-3">
                  <label for="maxho" class="form-label">Max. hőmérséklet</label>
                  <input type="number" class="form-control" id="maxho">
                </div>
                <div class="mb-3">
                    <label for="kategoria" class="form-label">Kategória</label>
                    <select id="kategoria" class="form-select" ng-model="ujadat.kategoria">
                        <option value="">Válasszon...</option>
                        <option value="{{ kategoria }}" ng-repeat="kategoria in kategoriak">{{ kategoria }}</option>    
                    </select>
                </div>
                <button type="button" class="btn btn-primary">Felvétel</button>
              </form>
        </main>
        <footer>
            {{company}} - {{author}}
        </footer>
    </div>
</body>
</html>