body {
    background-color: silver;
    font-family: 'Open Sans', sans-serif;
}

.container {
    background-color: white;
    box-shadow: 0 0 10px rgb(185, 114, 114);
    border: 1px solid rgb(99, 99, 99);
    padding: 10px;
}

header {
    background-color: slategray;
    color: white;
    text-shadow: 0 0 2px black;
    font-size: 200%;
    text-align: center;
    padding: 15px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-size: 80%;
    padding: 10px;
}

.f_cell {
    width: 5% !important;
}

.d_cell {
    width: 19% !important;
}

.ttday {
    font-size: 70%;
    text-align: center;
    height: auto;
    vertical-align: middle;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
}

span {
    position: absolute;
    top: -2px;
    right: 2px;
    z-index: 1000;
}

.table> :not(caption)>*>* {
    padding: 0;
}

.subjectCell {
    width: 100%;
    height: 30px;
    background-color: aquamarine;
    flex-grow: 1;
}

.subjectCell td {
    padding: 10px;
}

.subjectCell:hover {
    cursor: pointer;
    box-shadow: inset 0 0 10px rgb(85, 85, 85);
}

.akt {
    color: red !important;
    background-color: black !important;
    font-weight: bold;
}

.aktDay {
    background-color: rgb(247, 224, 224) !important;
    font-weight: bold;
}

em {
    color: red;
    font-weight: bold;
}