body{
    background-color: silver;
    padding: 0;
    margin: 0;
    color: aliceblue;
}

h1 {
    font-weight: bold;
    text-align: center;
    line-height: 200%;
}

.container {
    box-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 10px;
}

header {
    background-color: rgb(86,59,86);
}

main {
    color: black;
    padding: 10px;
    background-color: rgb(208, 179, 255);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-size: 80%;
    padding: 10px;
}

td > i {
    cursor: pointer;
}