<!DOCTYPE html>
<html lang="en" ng-app="phoneBookApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/bootstrap.min.js" defer></script>
    <script src="js/angular.min.js" defer></script>
    <script src="js/app.js" defer></script>

    <title>őplokjhghjklélkjhbgvbnmkl</title>
</head>
<body>
    <div class="container" ng-controller="mainCtrl">
        <header>
            <h3>{{title}} </h3>
        </header>
        <main>
            <section>
                <h5>új bejegyzi :)</h5>
                <form action="">
                    <form>
                        <div class="mb-3">
                          <label for="nev" class="form-label">Név</label>
                          <input type="text" class="form-control" id="nev" ng-model="ujadat.nev">
                        </div>
                        <div class="mb-3">
                          <label for="telszam" class="form-label">Telszám</label>
                          <input type="text" class="form-control" id="telszam" ng-model="ujadat.telszam">
                        </div>
                        <div class="mb-3">
                            <label for="kategoria" class="form-label">Kategória</label>
                            <select id="kategoria" class="form-select" ng-model="ujadat.kategoria">
                                <option value="">Válassz XD</option>
                                <option value="{{kategoria}}" ng-repeat="kategoria in kategoriak">{{kategoria}}</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-success" ng-click="hozzaad()">Hozzáad :D</button>
                      </form>
                </form>
            </section>
            <hr>
            <section>
                <h5>teleknogy bejegyzéseck</h5>
                <p ng-if="adatok == null" class="text-muted">Még nincs beejgés :(</p>
                <ul>
                    <li ng-repeat="adat in adatok">{{adat.nev}} <span>{{adat.telszam}} </span> </li>
                </ul>
            </section>
        </main>
        <footer>
            {{company}} - {{author}}
        </footer>
    </div>
</body>
</html>