body {
    background-color: silver;
}

.container {
    background-color: white;
    box-shadow: 0 0 10px gray;
}

header {
    padding: 20px;
    text-align: center;
}

footer {
    padding: 10px;
    text-align: center;
    font-size: 80%;
}