body{
    background-color: silver;
    padding: 15px;
}

h1, h2, h3 {
    font-weight: bold;
}

td {
    width: 250px;
    padding: 2px;
}

table {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

@media print 
{    
	input[type=button] {
	        display :  none ;
	}

    p#link {
        display: none;
    }

    #wrapper {
        display: flex;
        justify-content: right;
    }
}

@media screen 
{ 
    p.nyomtatni, #wrapper {
	    display :  none ;
	}
}