<!DOCTYPE html>
<html lang="en" ng-app="vizsgaApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/bootstrap.min.js" defer></script>
    <script src="js/angular.min.js" defer></script>
    <script src="js/moment.js" defer></script>
    <script src="js/app.js" defer></script>

    <title>Vizsgajelentkezés</title>
</head>
<body ng-controller="mainCtrl">
    <div class="container">
        <header>
            <h1>{{title}}</h1>
        </header>
        <main>
            <h3>Tanár felület</h3> <hr>
            <form>
                <label>Tantárgy:</label>
                <select class="form-select mb-3" id="XD" ng-model="ujvizsga.subject">
                    <option ng-repeat="subject in subjects">{{subject}} </option>
                </select>
                
                <label>Dátum:</label>
                <input type="date" class="form-control mb-3" ng-model="ujvizsga.date">

                <label>Létszám:</label>
                <input type="number" class="form-control mb-3" ng-model="ujvizsga.maxletszam">

                <input type="button" value="Megadás" class="btn btn-success" ng-click="felvetel()">
                <a href="index.html"><button type="button" class="btn btn-primary">Vissza</button></a>
            </form>

            <section>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Tantárgy</td>
                            <td>Dátum</td>
                            <td>Létszám</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vizsga in vizsgak">
                            <td>{{$index + 1}}</td>
                            <td>{{vizsga.subject}}</td>
                            <td>{{vizsga.date}}</td>
                            <td>{{vizsga.aktletszam}}/{{vizsga.maxletszam}}</td>
                            <td><i class="bi bi-trash-fill" ng-click="torles(vizsga.id)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
        <footer>
            {{ize}} - {{cucc}}
        </footer>
    </div>
</body>
</html>